[Unit]
Description=nginx Prometheus Exporter
Wants=network-online.target
After=network-online.target nginx.service

[Service]
User=nginx_exporter
Group=nginx_exporter
Type=simple
ExecStart=/usr/local/bin/nginx-prometheus-exporter \
    -nginx.scrape-uri http://localhost/nginx_status \
    -web.listen-address=0.0.0.0:9113 \
    -nginx.retries=3

Restart=always

[Install]
WantedBy=multi-user.target 